@charset 'UTF-8';

/* =========================================================
 Foundation
========================================================= */
@import "foundation/variables";
@import "foundation/mixin";
@import "foundation/reset";
@import "foundation/base";
@import "foundation/animation";
// @import "foundation/fonts";
// @import "foundation/vendor";
// @import "foundation/vendor-mod";
/* =========================================================
 Layout
========================================================= */
// @import "layout/header";
@import "layout/footer";
// @import "layout/gnav";
// @import "layout/main";
/* =========================================================
 Object
========================================================= */
/* ---------------------------------------------------------
 Component
--------------------------------------------------------- */
@import "object/component/container";
@import "object/component/btn-panel";
// @import "object/component/panel";
// @import "object/component/ttl";
/* ---------------------------------------------------------
 Project
--------------------------------------------------------- */
@import "object/project/footer-copies";
@import "object/project/footer-body";
// @import "object/project/experience";
// @import "object/project/feature";
// @import "object/project/form";
// @import "object/project/jobs";
// @import "object/project/lead";
// @import "object/project/mission";
// @import "object/project/value";
// @import "object/project/competency";
/* ---------------------------------------------------------
 Utility
--------------------------------------------------------- */
// @import "object/utility/function";

.progress {
  height: 80px;
  width: 80px;
  margin: 50px auto;
}
.progress > svg {
  height: 100%;
  display: block;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
