.c-btn-products {
  width: 260px;
  border: 1px solid $color-primary;
  padding: 10px 0;
  text-align: center;
  margin-top: 30px;
  transform: rotate(5deg);
  transform-origin: left bottom;
  transition: 0.5s transform ease-out;
}
