.c-btn-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: $color-primary;
    transition: 0.3s width $ease-cubic;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  @include mqIe {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
