@charset "UTF-8";
.c-panel {
  margin-top: 150px;

  @include mqMd {
    margin-top: 60px;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &-head {
    > * {
      display: block;
    }

    &__form {
      display: flex;
      align-items: flex-end;

      @include mqMd {
        display: block;
        text-align: center;
      }

      &--ttl {
        @include mqMd {
          width: 85px;
          margin: 0 auto;
        }
      }

      &--txt {
        margin-left: 70px;
        font-weight: normal;

        @include mqMd {
          margin: 20px 0 0;
          font-size: 12px;
        }
      }
    }
  }

  &-body {
    margin-top: 60px;
    line-height: 2;
    letter-spacing: 0.02em;

    @include mqMd {
      font-size: 14px;
      text-align: left;
      margin-top: 25px;
      line-height: 1.75;
    }
  }

  &-sp {
    @include mqMd {
      padding: 0 16px;
    }
  }
}

.p-experience .c-panel-body {
  margin-top: 45px;

  @include mqMd {
    line-height: 2;
    margin-top: 25px;
  }
}

.p-box-center .c-panel-body {
  font-weight: bold;
}
