<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body id="wrapper">
    <section>
      <%- include('../components/_products'); %>
    </section>
    <section>
      <%- include('../components/_information'); %>
    </section>
    <%- include('../components/_footer'); %>
  </body>
</html>
