@charset "UTF-8";
/* =========================================================
 Foundation
========================================================= */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

select {
  outline: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  background-color: #fff;
  color: #333;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}

html {
  font-size: 62.5%;
}

body {
  color: #8c720e;
  font-size: 10px;
  font-size: 1rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.01em;
  line-height: 1.65;
  border: 2px solid #8c720e;
}

@media all and (-ms-high-contrast: none) {
  body {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  main {
    display: block;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #8c720e;
  text-decoration: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.65;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

.fadeInUp {
  opacity: 0 !important;
  transform: translateY(40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 0.8s !important;
}

.fadeInDown {
  opacity: 0 !important;
  transform: translateY(-40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 0.8s !important;
}

.fadeInRight {
  opacity: 0 !important;
  transform: translateX(-40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 0.8s !important;
}

.fadeInLeft {
  opacity: 0 !important;
  transform: translateX(40px) !important;
  transition-timing-function: cubic-bezier(0.11, 0.2, 0.48, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 1s !important;
}

.fadeInZoom {
  opacity: 0 !important;
  transform: scale(0) !important;
  transform-origin: center center;
  transition-timing-function: cubic-bezier(0.24, 1, 0.32, 1) !important;
  transition-property: opacity, transform !important;
  transition-duration: 1.2s !important;
  transition-delay: 0.7s;
}

@media only screen and (min-width: 769px) {
  .fadein01 {
    opacity: 0;
    transform: translate(0, 75px);
    transition: all 800ms ease-in-out;
  }
  .fadein02 {
    opacity: 0;
    transform: translate(80px, 0);
    transition: all 800ms cubic-bezier(0.6, 0.21, 0.13, 1);
  }
  .fadein03 {
    opacity: 0;
    transform: translate(150px, 0);
    transition: all 400ms ease-in-out;
  }
  .fadein04 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all 400ms ease-in-out;
  }
  .fadein05 {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 500ms ease-in-out;
  }
  .fadein05 + .fadein05 {
    transition-delay: 300ms;
    top: 70px;
  }
  .fadein01.scrollin,
  .fadein02.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }
  .fadein03.scrollin {
    opacity: 1;
    transform: translate(120px, 0);
  }
  .fadein04.scrollin {
    opacity: 1;
    transform: translate(-80px, 0);
  }
  .fadein05.scrollin {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@font-face {
  font-family: "din-next";
  src: url("../font/din-next-lt_regular.woff") format("woff"), url("../font/din-next-lt_regular.ttf") format("truetype");
}

@font-face {
  font-family: "din-next-bold";
  src: url("../font/din-next-lt_bold.woff") format("woff"), url("../font/din-next-lt_bold.ttf") format("truetype");
}

/* =========================================================
 Layout
========================================================= */
.l-footer__copies {
  border-top: 2px solid #8c720e;
  padding: 20px 0;
}

@media only screen and (max-width: 768px) {
  .l-footer__copies {
    padding: 15px 0;
  }
}

/* =========================================================
 Object
========================================================= */
/* ---------------------------------------------------------
 Component
--------------------------------------------------------- */
.c-container {
  padding: 0 60px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .c-container {
    padding: 0 20px;
  }
}

.c-btn-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.c-btn-panel::before,
.c-btn-panel span {
  position: absolute;
  transition: 0.3s all ease;
}

.c-btn-panel::before {
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #8c720e;
  z-index: -1;
}

.c-btn-panel span {
  color: #8c720e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (hover: hover) {
  .c-btn-panel:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
  .c-btn-panel:hover span {
    color: #fff;
  }
}

.c-btn-products {
  width: 260px;
  border: 1px solid #8c720e;
  padding: 10px 0;
  text-align: center;
  margin-top: 30px;
  transform: rotate(5deg);
  transform-origin: left bottom;
  transition: 0.5s transform ease-out;
}

/* ---------------------------------------------------------
 Project
--------------------------------------------------------- */
.p-footer-copies {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  .p-footer-copies {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-footer-copies__copy {
    display: none;
  }
}

.p-footer-body {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .p-footer-body {
    display: block;
    position: relative;
  }
}

.p-footer-body__links {
  width: calc(100% / 3);
  padding-left: 60px;
  font-size: 1.7rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__links {
    width: 100%;
    padding: 30px 20px;
  }
}

.p-footer-body__link ~ .p-footer-body__link {
  margin-top: 1em;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__copy {
    position: absolute;
    right: 5px;
    top: 0;
    transform: rotate(270deg);
    transform-origin: right bottom;
  }
}

.p-footer-body__contacts {
  width: calc(100% / 3 * 2);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__contacts {
    width: 100%;
  }
}

.p-footer-body__sns {
  flex: 1;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__sns {
    height: 100px;
    border-top: 2px solid #8c720e;
  }
}

.p-footer-body__sns__head, .p-footer-body__sns__body {
  height: 100%;
  width: 100%;
}

.p-footer-body__sns__head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  padding: 40px 30px 40px 0;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__sns__head {
    padding: 0 0 0 20px;
    justify-content: flex-start;
  }
}

.p-footer-body__sns__body {
  border-left: 2px solid #8c720e;
  display: flex;
  font-size: 3rem;
}

.p-footer-body__sns__link {
  flex: 1;
  display: block;
}

.p-footer-body__sns__link ~ .p-footer-body__sns__link {
  border-left: 2px solid #8c720e;
}

.p-footer-body__about {
  flex: 1;
  display: flex;
  align-items: center;
  border-left: 2px solid #8c720e;
  border-top: 2px solid #8c720e;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__about {
    display: block;
    border-left: none;
  }
}

.p-footer-body__company {
  width: 65%;
  display: flex;
  padding: 30px 60px;
  align-items: center;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__company {
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
  }
}

.p-footer-body__company img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__company img {
    width: 80px;
    height: 80px;
  }
}

.p-footer-body__company > * ~ * {
  margin-left: 30px;
}

.p-footer-body__contact {
  width: 35%;
  align-self: stretch;
  border-left: 2px solid #8c720e;
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .p-footer-body__contact {
    width: 100%;
    height: 100px;
    border-left: none;
    border-top: 2px solid #8c720e;
  }
}

.p-products {
  display: grid;
  grid-auto-rows: 1fr;
}

.p-products__item {
  position: relative;
  overflow: hidden;
}

.p-products__item::before {
  content: "";
  display: block;
  width: 0px;
  padding-bottom: 50%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@media (hover: hover) {
  .p-products__item:hover .p-products__cover {
    opacity: 1;
  }
  .p-products__item:hover .p-products__cover + img {
    transform: scale(1.1);
  }
  .p-products__item:hover .p-products__text {
    transform: translateY(0);
  }
  .p-products__item:hover .c-btn-products {
    transform: rotate(0);
  }
}

.p-products__item--01 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

@media only screen and (max-width: 768px) {
  .p-products__item--01 {
    grid-column: 1 / 3;
  }
}

.p-products__item--02 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

@media only screen and (max-width: 768px) {
  .p-products__item--02 {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }
}

.p-products__item--03 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 768px) {
  .p-products__item--03 {
    grid-column: 1 / 2;
  }
}

.p-products__item--04 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 768px) {
  .p-products__item--04 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}

.p-products__item--05 {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

@media only screen and (max-width: 768px) {
  .p-products__item--05 {
    display: none;
  }
}

.p-products__item--06 {
  grid-row: 3 / 4;
  grid-column: 3 /4;
}

@media only screen and (max-width: 768px) {
  .p-products__item--06 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }
}

.p-products__item--07 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 768px) {
  .p-products__item--07 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}

.p-products__item--08 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 768px) {
  .p-products__item--08 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
}

.p-products__item--09 {
  grid-row: 4 / 6;
  grid-column: 3 / 4;
}

@media only screen and (max-width: 768px) {
  .p-products__item--09 {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
  }
}

.p-products__item--10 {
  grid-row: 5/ 6;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 768px) {
  .p-products__item--10 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }
}

.p-products__item--11 {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 768px) {
  .p-products__item--11 {
    grid-row: 7 / 8;
  }
}

.p-products__item--12 {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 768px) {
  .p-products__item--12 {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
  }
}

.p-products__item--13 {
  grid-row: 6/ 7;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 768px) {
  .p-products__item--13 {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
}

.p-products__item--14 {
  grid-row: 6 / 7;
  grid-column: 3 / 4;
}

@media only screen and (max-width: 768px) {
  .p-products__item--14 {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }
}

.p-products__item--15 {
  grid-row: 7 / 9;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 768px) {
  .p-products__item--15 {
    grid-row: 10 / 12;
    grid-column: 1 / 1;
  }
}

.p-products__item--16 {
  grid-row: 7 / 8;
  grid-column: 2 / 4;
}

@media only screen and (max-width: 768px) {
  .p-products__item--16 {
    grid-row: 9 / 10;
    grid-column: 1 / 3;
  }
}

.p-products__item--17 {
  grid-row: 8 / 9;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 768px) {
  .p-products__item--17 {
    grid-row: 10 / 11;
    grid-column: 2 / 3;
  }
}

.p-products__item--18 {
  grid-row: 8 / 9;
  grid-column: 3 / 4;
}

@media only screen and (max-width: 768px) {
  .p-products__item--18 {
    grid-row: 11 / 12;
    grid-column: 2 / 3;
  }
}

.p-products__link {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
}

.p-products__title {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .p-products__title {
    right: 10px;
    text-align: right;
  }
}

.p-products__text {
  transform: translateY(10px);
  transition: 0.3s transform ease-out;
}

.p-products__cover {
  z-index: 3;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.3s opacity ease-out;
}

.p-products__cover + img {
  transform: scale(1);
  transition: 0.5s transform ease-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ---------------------------------------------------------
 Utility
--------------------------------------------------------- */
.u-font-dinnext {
  font-family: "din-next", sans-serif;
}

.u-br-pc {
  display: block;
}

@media only screen and (max-width: 768px) {
  .u-br-pc {
    display: none;
  }
}

.u-br-sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .u-br-sp {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .u-hide-sm {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .u-hide-md {
    display: none;
  }
}

.u-hide-pc {
  display: none;
}

@media only screen and (max-width: 768px) {
  .u-hide-pc {
    display: block;
  }
}
