<div id="js-floating" class="p-floating">
  <a href="" class="p-floating__btn p-floating__btn--buynow">BUY<br />NOW</a>
  <a href="" class="p-floating__btn p-floating__btn--shareon">SHARE<br />ON</a>
</div>
