<div class="p-footer-copies">
  <div class="p-footer-copies__attention">
    大成紙器製作所の商品は全国の中川政七商店でお取り扱いいただいています。<br
      class="u-br-pc"
    />
    その他のお取り扱い店につきましては中川政七商店までお問い合わせください。<br
      class="u-br-pc"
    />
    また、大成紙器製作所商品の卸販売をご検討の小売店様は、こちらからお問い合わせください。
  </div>
  <div class="p-footer-copies__copy">
    <small>Copyright &copy; 2019 TAISEI All rights reserved.</small>
  </div>
</div>
