<footer class="l-footer">
  <div class="l-footer__body">
    <%- include('../components/_footer-body'); %>
  </div>
  <div class="l-footer__copies">
    <div class="c-container">
      <%- include('../components/_footer-copies'); %>
    </div>
  </div>
</footer>
<!-- /.l-footer -->
