<div class="p-footer-body">
  <ul class="p-footer-body__links">
    <li class="p-footer-body__link">
      <a href="#" class="c-btn-line">INFORMATION</a>
    </li>
    <li class="p-footer-body__link">
      <a href="#" class="c-btn-line">PRODUCT</a>
    </li>
    <li class="p-footer-body__link">
      <a href="#" class="c-btn-line">STOCKIST</a>
    </li>
    <li class="p-footer-body__link">
      <a href="#" class="c-btn-line">CONCEPT</a>
    </li>
    <li class="p-footer-body__link">
      <a href="#" class="c-btn-line">DOWNLOAD</a>
    </li>
  </ul>
  <span class="u-hide-pc p-footer-body__copy">&copy; 2019 TAISEI</span>
  <div class="p-footer-body__contacts">
    <div class="p-footer-body__sns">
      <div class="p-footer-body__sns__head">CONNECTED<br />WITH</div>
      <div class="p-footer-body__sns__body">
        <div class="p-footer-body__sns__link">
          <a href="" class="c-btn-panel"
            ><span><i class="fab fa-facebook-f"></i></span
          ></a>
        </div>
        <div class="p-footer-body__sns__link">
          <a href="" class="c-btn-panel"
            ><span><i class="fab fa-instagram"></i></span
          ></a>
        </div>
        <div class="p-footer-body__sns__link">
          <a href="" class="c-btn-panel"
            ><span><i class="fab fa-twitter"></i></span
          ></a>
        </div>
      </div>
    </div>
    <div class="p-footer-body__about">
      <div class="p-footer-body__company">
        <img src="image/logo-mark.svg" alt="" />
        <p>
          TAISEI 株式会社<br />
          〒577-0067<br class="u-br-sp" />大阪府東大阪市高井田西1丁目3-22<br />
          Tel: 06-6783-0331 Fax: 06-6783-6268<br />
          <a href="">www.taisei-p.co.jp</a>
        </p>
      </div>
      <div class="p-footer-body__contact">
        <a href="" class="c-btn-panel"
          ><span class="p-footer-body__contact__link"
            >CONTACT US<i class="fas fa-long-arrow-alt-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
