<nav>
  <ul class="p-gnav">
    <li class="p-gnav__item"><a href="" class="c-btn-line">INFORMATION</a></li>
    <li class="p-gnav__item"><a href="" class="c-btn-line">PRODUCT</a></li>
    <li class="p-gnav__item"><a href="" class="c-btn-line">STOCKIST</a></li>
    <li class="p-gnav__item"><a href="" class="c-btn-line">CONCEPT</a></li>
    <li class="p-gnav__item p-gnav__item--sns">
      <a href="" class="c-btn-line"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li class="p-gnav__item p-gnav__item--sns">
      <a href="" class="c-btn-line"><i class="fab fa-instagram"></i></a>
    </li>
    <li class="p-gnav__item p-gnav__item--sns">
      <a href="" class="c-btn-line"><i class="fab fa-twitter"></i></a>
    </li>
  </ul>
</nav>
