<header class="l-header">
  <div class="c-container">
    <div class="l-header__inner">
      <h1 class="l-header__logo">
        <img src="image/sp-header-taisei-logo.svg" alt="" />
      </h1>
      <div class="l-header__nav">
        <%- include('../components/_gnav'); %>
      </div>
    </div>
  </div>
</header>
<!-- /.l-header -->
