<div class="p-information">
  <div class="c-container">
    <h2 class="p-information__head">INFORMATION</h2>
    <div class="p-information__body">
      <%- include('../components/_news'); %>
      <div class="p-information__more">
        <a href="">READ MORE<i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>
</div>
