<div class="p-lead">
  <div class="c-container">
    <div class="p-lead__inner">
      <div class="p-lead__head">
        <img src="../image/logo-v.svg" alt="" />
      </div>
      <div class="p-lead__body">
        大成紙器製作所は、紙の道具「紙器具（しきぐ）」を提案するブランドです。<br />「紙器具」とは、紙が私たちの暮らしに寄り添う道具として考え、<br
          class="u-br-pc"
        />その価値を再発見し「伝える・収める・設える」を理念とすること<br
          class="u-br-pc"
        />でつくられていく新しい日用品です。<br />
        また、2017年、大成紙器製作所を立ち上げたTAISEI株式会社は、<br
          class="u-br-pc"
        />大阪を拠点とし、紙箱や紙管を中心とした印刷・加工の技術や<br
          class="u-br-pc"
        />そのネットワークを活かした会社です。1919年創業時の大成紙器<br
          class="u-br-pc"
        />製作所の名を掲げたブランドは、紙から生まれる文化を耕し作り手<br
          class="u-br-pc"
        />と使い手をつなげる試みを目指しています。
      </div>
    </div>
  </div>
</div>
