<div class="p-nav-sp">
  <div class="p-nav-sp__head">
    <div class="p-nav-sp__title">
      <img src="../image/sp-header-taisei-logo.svg" alt="" />
    </div>
  </div>
  <div class="p-nav-sp__body">
    <div class="p-nav-sp__logo">
      <img src="../image/logo-mark.svg" alt="" />
    </div>
    <ul class="p-nav-sp__menu">
      <li><a href="">INFORMATION</a></li>
      <li><a href="">PRODUCT</a></li>
      <li><a href="">STOCKIST</a></li>
      <li><a href="">CONCEPT</a></li>
    </ul>
  </div>
  <div class="p-nav-sp__sns">
    <div class="p-nav-sp__sns__head">CONNECTED<br />WITH</div>
    <div class="p-nav-sp__sns__body">
      <div class="p-nav-sp__sns__link">
        <a href="" class="c-btn-panel"
          ><span><i class="fab fa-facebook-f"></i></span
        ></a>
      </div>
      <div class="p-nav-sp__sns__link">
        <a href="" class="c-btn-panel"
          ><span><i class="fab fa-instagram"></i></span
        ></a>
      </div>
      <div class="p-nav-sp__sns__link">
        <a href="" class="c-btn-panel"
          ><span><i class="fab fa-twitter"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
