<ul class="p-news">
  <li class="p-news__list"">
    <a href="">
      <div class="p-news__head">2020.03.02</div>
      <span class="p-news__label">メディア</span>
      <div class="p-news__body">
        FUMIBAKOが「anan No.2190号」で紹介されました
      </div>
    </a>
  </li>
  <li class="p-news__list"">
    <a href="">
      <div class="p-news__head">2020.03.02</div>
      <span class="p-news__label">メディア</span>
      <div class="p-news__body">
        FUMIBAKOが「anan No.2190号」で紹介されましたされました
      </div>
    </a>
  </li>
  <li class="p-news__list"">
    <a href="">
      <div class="p-news__head">2020.03.02</div>
      <span class="p-news__label">メディア</span>
      <div class="p-news__body">
        FUMIBAKOが「anan No.2190号」で紹介されました
      </div>
    </a>
  </li>
  <li class="p-news__list"">
    <a href="">
      <div class="p-news__head">2020.03.02</div>
      <span class="p-news__label">メディア</span>
      <div class="p-news__body">
        FUMIBAKOが「anan No.2190号」で紹介されましたされましたされました
      </div>
    </a>
  </li>
  <li class="p-news__list"">
    <a href="">
      <div class="p-news__head">2020.03.02</div>
      <span class="p-news__label">メディア</span>
      <div class="p-news__body">
        FUMIBAKOが「anan No.2190号」で紹介されました
      </div>
    </a>
  </li>
</ul>
