<div id="js-opening" class="p-opening">
  <div class="p-opening__svg">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg
      version="1.1"
      id="レイヤー_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 110 110"
      style="enable-background: new 0 0 110 110;"
      xml:space="preserve"
    >
      <g>
        <path
          class="st0"
          d="M42.955,64.32c1.286,0.606,1.701,0.795,2.479,1.277l0.906-1.105c-0.68-0.427-1.343-0.815-2.573-1.281
		L42.955,64.32z"
        />
        <path
          class="st0"
          d="M47.438,60.551c-0.978-0.542-1.38-0.746-2.516-1.214l-0.811,1.041c1.078,0.456,1.721,0.785,2.438,1.255
		L47.438,60.551z"
        />
        <path
          class="st0"
          d="M43.577,70.226l0.756,1.592c1.97-1.218,2.748-1.828,3.806-2.953c1.325-1.376,1.97-2.423,3.274-5.171
		c-0.569-0.296-1.006-0.581-1.364-0.922C48.537,66.302,46.964,68.524,43.577,70.226z"
        />
        <polygon
          class="st0"
          points="65.367,65.149 62.342,65.681 62.001,63.042 64.652,62.601 64.361,61.289 61.886,61.722 61.486,58.649 
		59.876,58.853 60.294,61.944 58.023,62.32 58.311,63.601 60.447,63.238 60.765,65.901 57.493,66.443 57.773,67.803 60.9,67.259 
		61.486,72.194 63.149,72.021 62.488,67.023 65.628,66.538 	"
        />
        <path
          class="st0"
          d="M43.337,42.29h2.456v8.065c0,0.462,0.105,0.807,0.316,1.031c0.209,0.234,0.478,0.341,0.811,0.341
		c0.335,0,0.596-0.109,0.803-0.339c0.207-0.224,0.31-0.569,0.31-1.033V42.29h2.46c0.382,0,0.667-0.084,0.863-0.249
		c0.187-0.17,0.285-0.394,0.285-0.67c0-0.285-0.094-0.509-0.283-0.674c-0.191-0.172-0.479-0.263-0.865-0.263h-7.155
		c-0.368,0-0.649,0.086-0.838,0.255c-0.199,0.168-0.294,0.394-0.294,0.684c0,0.275,0.094,0.501,0.279,0.67
		C42.671,42.207,42.955,42.29,43.337,42.29z"
        />
        <path
          class="st0"
          d="M62.905,49.611c-0.415,0.31-0.959,0.466-1.624,0.466c-0.483,0-0.869-0.074-1.173-0.23
		c-0.302-0.154-0.524-0.353-0.692-0.587c-0.168-0.238-0.316-0.534-0.46-0.889c-0.119-0.298-0.257-0.522-0.421-0.674
		c-0.164-0.154-0.363-0.228-0.6-0.228c-0.296,0-0.538,0.101-0.723,0.29c-0.193,0.195-0.283,0.431-0.283,0.696
		c0,0.476,0.152,0.957,0.468,1.456c0.32,0.497,0.727,0.897,1.232,1.191c0.715,0.413,1.616,0.62,2.715,0.62
		c0.906,0,1.698-0.15,2.368-0.452c0.667-0.304,1.177-0.721,1.522-1.255c0.345-0.536,0.518-1.136,0.518-1.811
		c0-0.561-0.101-1.033-0.304-1.423c-0.201-0.384-0.478-0.706-0.83-0.955c-0.355-0.253-0.789-0.472-1.3-0.647
		c-0.505-0.175-1.072-0.333-1.698-0.485c-0.501-0.123-0.86-0.222-1.074-0.288c-0.22-0.06-0.437-0.158-0.647-0.269
		c-0.21-0.119-0.378-0.257-0.497-0.421c-0.123-0.16-0.187-0.349-0.187-0.573c0-0.361,0.179-0.667,0.54-0.924
		c0.353-0.251,0.824-0.382,1.403-0.382c0.628,0,1.08,0.121,1.36,0.357c0.281,0.23,0.524,0.559,0.725,0.98
		c0.162,0.294,0.304,0.505,0.44,0.631C63.819,43.933,64.012,44,64.27,44c0.281,0,0.518-0.111,0.706-0.324
		c0.191-0.218,0.288-0.458,0.288-0.723c0-0.292-0.08-0.596-0.23-0.898c-0.146-0.31-0.386-0.604-0.721-0.889
		c-0.322-0.279-0.735-0.505-1.24-0.674c-0.493-0.17-1.082-0.249-1.764-0.249c-0.856,0-1.596,0.125-2.23,0.382
		c-0.628,0.249-1.111,0.618-1.446,1.091c-0.325,0.478-0.493,1.017-0.493,1.629c0,0.641,0.154,1.177,0.472,1.606
		c0.318,0.431,0.741,0.774,1.282,1.029c0.53,0.246,1.204,0.466,2.002,0.647c0.593,0.138,1.07,0.269,1.423,0.39
		c0.361,0.121,0.649,0.296,0.875,0.53c0.222,0.228,0.331,0.524,0.331,0.897C63.527,48.917,63.32,49.301,62.905,49.611z"
        />
        <path
          class="st0"
          d="M67.037,54.85H42.111c-0.468,0-0.844,0.376-0.844,0.84s0.376,0.844,0.844,0.844h24.926
		c0.468,0,0.84-0.378,0.84-0.844C67.875,55.226,67.503,54.85,67.037,54.85z"
        />
        <path
          class="st0"
          d="M20.313,31.031c0.234-0.029,0.474-0.183,0.711-0.462l1.516-1.783l5.849,4.988
		c0.333,0.281,0.645,0.417,0.945,0.403c0.292-0.01,0.542-0.138,0.748-0.378c0.201-0.238,0.287-0.501,0.251-0.793
		c-0.035-0.287-0.224-0.573-0.559-0.861l-5.855-4.982l1.516-1.779c0.238-0.283,0.355-0.542,0.351-0.785
		c-0.006-0.242-0.105-0.45-0.308-0.62c-0.203-0.172-0.423-0.242-0.665-0.209c-0.242,0.029-0.483,0.187-0.723,0.466l-4.416,5.19
		c-0.224,0.271-0.337,0.518-0.337,0.768c0.002,0.244,0.105,0.454,0.314,0.628C19.855,30.99,20.074,31.058,20.313,31.031z"
        />
        <path
          class="st0"
          d="M33.526,19.263l0.893,7.33c0.031,0.294,0.062,0.518,0.094,0.674c0.033,0.164,0.08,0.304,0.15,0.431
		c0.121,0.222,0.318,0.368,0.592,0.444c0.275,0.072,0.53,0.047,0.77-0.084c0.279-0.154,0.437-0.337,0.472-0.569
		c0.035-0.228,0.012-0.624-0.068-1.181l-0.199-1.436l3.781-2.048l1.078,0.93c0.138,0.115,0.294,0.238,0.481,0.386
		c0.181,0.142,0.337,0.242,0.456,0.296c0.123,0.049,0.249,0.072,0.382,0.068c0.134-0.006,0.275-0.047,0.427-0.129
		c0.253-0.138,0.423-0.345,0.501-0.62c0.086-0.279,0.068-0.522-0.045-0.741c-0.117-0.207-0.394-0.485-0.826-0.844l-5.681-4.683
		c-0.277-0.236-0.503-0.429-0.674-0.571c-0.172-0.138-0.353-0.255-0.544-0.355c-0.193-0.096-0.403-0.15-0.637-0.154
		c-0.226-0.004-0.474,0.064-0.733,0.207c-0.261,0.142-0.448,0.306-0.575,0.501c-0.117,0.195-0.191,0.401-0.212,0.62
		c-0.021,0.218-0.012,0.479,0.027,0.77C33.473,18.801,33.5,19.052,33.526,19.263z M38.737,21.686l-2.779,1.509l-0.702-4.586
		L38.737,21.686z"
        />
        <path
          class="st0"
          d="M48.781,21.53c0.066,0.425,0.216,0.735,0.444,0.922c0.234,0.183,0.501,0.255,0.803,0.212
		c0.32-0.051,0.565-0.197,0.725-0.442c0.164-0.244,0.22-0.581,0.154-1.015l-1.257-8.239c-0.068-0.433-0.216-0.739-0.442-0.922
		c-0.23-0.179-0.505-0.249-0.819-0.199c-0.31,0.047-0.548,0.193-0.713,0.437c-0.162,0.246-0.209,0.579-0.142,1.008L48.781,21.53z"
        />
        <path
          class="st0"
          d="M58.565,21.787c0.596,0.513,1.409,0.861,2.438,1.051c0.858,0.156,1.622,0.152,2.298-0.018
		c0.674-0.172,1.222-0.479,1.637-0.918c0.415-0.44,0.684-0.98,0.797-1.61c0.097-0.522,0.09-0.984-0.035-1.38
		c-0.115-0.398-0.322-0.743-0.614-1.041c-0.29-0.3-0.661-0.575-1.103-0.826c-0.446-0.253-0.947-0.503-1.509-0.748
		c-0.448-0.203-0.772-0.355-0.957-0.454c-0.197-0.096-0.378-0.218-0.559-0.363c-0.183-0.146-0.312-0.306-0.398-0.479
		c-0.084-0.172-0.109-0.364-0.072-0.571c0.064-0.333,0.279-0.593,0.659-0.77c0.378-0.175,0.838-0.218,1.38-0.119
		c0.585,0.113,0.994,0.3,1.222,0.567c0.222,0.269,0.394,0.618,0.511,1.047c0.094,0.298,0.195,0.524,0.298,0.667
		c0.103,0.146,0.275,0.236,0.516,0.285c0.269,0.047,0.509-0.014,0.721-0.181c0.212-0.168,0.345-0.378,0.388-0.631
		c0.055-0.271,0.031-0.565-0.051-0.885c-0.094-0.314-0.267-0.631-0.524-0.949c-0.261-0.32-0.608-0.603-1.048-0.848
		c-0.433-0.242-0.971-0.421-1.614-0.538c-0.799-0.146-1.518-0.154-2.148-0.023c-0.637,0.129-1.154,0.386-1.546,0.772
		c-0.394,0.39-0.643,0.869-0.752,1.442c-0.109,0.6-0.049,1.13,0.168,1.588c0.224,0.458,0.563,0.854,1.027,1.179
		c0.456,0.325,1.045,0.647,1.762,0.957c0.542,0.23,0.961,0.433,1.273,0.608c0.312,0.177,0.554,0.39,0.727,0.643
		c0.172,0.255,0.226,0.554,0.164,0.898c-0.084,0.435-0.343,0.764-0.787,0.98c-0.444,0.222-0.976,0.273-1.606,0.156
		c-0.456-0.078-0.807-0.22-1.054-0.415c-0.261-0.193-0.439-0.415-0.548-0.67c-0.117-0.246-0.205-0.552-0.277-0.906
		c-0.06-0.3-0.158-0.536-0.277-0.704c-0.131-0.172-0.306-0.275-0.53-0.32c-0.275-0.049-0.518,0-0.729,0.15
		c-0.209,0.15-0.339,0.351-0.384,0.608c-0.076,0.442-0.014,0.92,0.197,1.442C57.83,20.978,58.144,21.424,58.565,21.787z"
        />
        <path
          class="st0"
          d="M70.824,26.055l4.886,3.173c0.279,0.183,0.53,0.257,0.764,0.218c0.228-0.041,0.413-0.162,0.55-0.372
		c0.14-0.22,0.179-0.442,0.121-0.663c-0.053-0.228-0.224-0.429-0.505-0.612l-4.192-2.721l1.643-2.522l3.017,1.969
		c0.283,0.177,0.53,0.246,0.745,0.209c0.212-0.043,0.386-0.166,0.518-0.364c0.133-0.205,0.17-0.411,0.109-0.62
		c-0.049-0.21-0.216-0.407-0.489-0.583L74.964,21.2l1.415-2.183l4.054,2.633c0.283,0.187,0.544,0.261,0.762,0.224
		c0.216-0.035,0.405-0.162,0.54-0.368c0.127-0.207,0.173-0.417,0.113-0.633c-0.06-0.22-0.232-0.425-0.515-0.606l-4.748-3.081
		c-0.249-0.168-0.485-0.269-0.696-0.298C75.68,16.859,75.48,16.9,75.3,17.015c-0.183,0.111-0.364,0.298-0.526,0.555l-4.331,6.668
		c-0.257,0.388-0.347,0.723-0.298,1.013C70.206,25.529,70.436,25.802,70.824,26.055z"
        />
        <path
          class="st0"
          d="M80.376,33.834c-0.043,0.298,0.027,0.561,0.224,0.805c0.195,0.249,0.448,0.388,0.737,0.411
		c0.298,0.019,0.614-0.107,0.957-0.378l6.519-5.186c0.341-0.273,0.54-0.555,0.581-0.846c0.039-0.288-0.035-0.561-0.238-0.813
		c-0.197-0.248-0.442-0.374-0.727-0.401c-0.298-0.019-0.612,0.111-0.953,0.378l-6.519,5.19
		C80.616,33.265,80.429,33.545,80.376,33.834z"
        />
        <path
          class="st0"
          d="M23.387,76.767c0.304-0.474,0.444-0.98,0.431-1.532c-0.018-0.552-0.195-1.115-0.542-1.688
		c-0.257-0.423-0.548-0.758-0.881-1.012c-0.331-0.253-0.696-0.415-1.082-0.501c-0.388-0.084-0.795-0.074-1.226,0.018
		c-0.427,0.09-0.852,0.263-1.279,0.518c-0.411,0.255-0.764,0.546-1.051,0.877c-0.287,0.327-0.485,0.686-0.6,1.068
		c-0.117,0.382-0.142,0.789-0.076,1.214c0.068,0.423,0.232,0.852,0.493,1.284c0.263,0.439,0.563,0.784,0.898,1.033
		c0.341,0.257,0.709,0.423,1.107,0.499c0.394,0.078,0.803,0.068,1.22-0.025c0.417-0.097,0.84-0.271,1.273-0.528
		C22.648,77.642,23.087,77.232,23.387,76.767z M22.327,76.022c-0.218,0.31-0.53,0.585-0.934,0.832
		c-0.442,0.263-0.85,0.413-1.236,0.454c-0.384,0.035-0.721-0.019-1.01-0.175c-0.287-0.154-0.518-0.374-0.69-0.659
		c-0.136-0.226-0.218-0.458-0.246-0.694c-0.031-0.236-0.008-0.478,0.072-0.723c0.08-0.246,0.222-0.483,0.427-0.713
		c0.207-0.236,0.468-0.444,0.782-0.637c0.312-0.187,0.618-0.316,0.916-0.384c0.298-0.076,0.567-0.092,0.811-0.051
		c0.244,0.041,0.464,0.129,0.663,0.265c0.201,0.14,0.366,0.324,0.501,0.548c0.193,0.312,0.279,0.637,0.275,0.973
		C22.656,75.393,22.543,75.712,22.327,76.022z"
        />
        <path
          class="st0"
          d="M27.408,82.167c0,0.105,0.045,0.218,0.148,0.325c0.113,0.121,0.251,0.179,0.419,0.172
		c0.164-0.004,0.304-0.06,0.417-0.17c0.125-0.113,0.224-0.267,0.294-0.454c0.068-0.185,0.099-0.407,0.084-0.655
		c-0.012-0.253-0.08-0.516-0.207-0.793c-0.123-0.279-0.324-0.563-0.596-0.85c-0.337-0.364-0.69-0.628-1.043-0.793
		c-0.363-0.164-0.707-0.228-1.043-0.177c-0.333,0.049-0.63,0.191-0.887,0.439c-0.273,0.249-0.44,0.534-0.497,0.84
		c-0.053,0.302-0.033,0.62,0.078,0.943c0.105,0.331,0.283,0.702,0.518,1.113c0.181,0.31,0.318,0.561,0.403,0.762
		c0.092,0.201,0.134,0.39,0.125,0.579c-0.006,0.187-0.092,0.351-0.244,0.497c-0.201,0.187-0.444,0.253-0.745,0.199
		c-0.298-0.053-0.577-0.22-0.842-0.501c-0.193-0.207-0.318-0.402-0.372-0.591c-0.051-0.187-0.06-0.363-0.025-0.528
		c0.035-0.164,0.101-0.345,0.193-0.548c0.08-0.168,0.117-0.312,0.117-0.442c-0.002-0.129-0.049-0.249-0.142-0.349
		c-0.117-0.121-0.253-0.187-0.413-0.191c-0.154,0-0.292,0.051-0.411,0.162c-0.197,0.187-0.337,0.442-0.427,0.778
		c-0.084,0.333-0.09,0.661-0.014,0.992c0.107,0.468,0.38,0.937,0.815,1.399c0.366,0.388,0.745,0.663,1.136,0.822
		c0.394,0.166,0.772,0.212,1.136,0.146c0.366-0.068,0.69-0.234,0.975-0.501c0.234-0.224,0.396-0.456,0.483-0.696
		c0.084-0.234,0.107-0.481,0.072-0.733c-0.035-0.249-0.115-0.516-0.242-0.803c-0.127-0.288-0.285-0.589-0.472-0.914
		c-0.146-0.261-0.246-0.452-0.308-0.571c-0.058-0.119-0.105-0.244-0.138-0.378c-0.035-0.138-0.045-0.265-0.023-0.378
		c0.021-0.115,0.08-0.218,0.172-0.306c0.152-0.14,0.353-0.187,0.604-0.14c0.248,0.049,0.487,0.197,0.719,0.444
		c0.249,0.263,0.384,0.505,0.394,0.717c0.016,0.216-0.027,0.444-0.123,0.698C27.437,81.914,27.41,82.06,27.408,82.167z"
        />
        <path
          class="st0"
          d="M33.526,84.576c-0.148-0.103-0.288-0.16-0.427-0.177c-0.138-0.016-0.273,0.006-0.394,0.051
		c-0.127,0.049-0.265,0.121-0.419,0.22c-0.15,0.103-0.279,0.187-0.39,0.261l-3.762,2.471c-0.154,0.096-0.269,0.175-0.345,0.234
		c-0.08,0.06-0.146,0.127-0.195,0.197c-0.09,0.129-0.115,0.273-0.082,0.444c0.035,0.172,0.117,0.306,0.249,0.398
		c0.164,0.113,0.308,0.146,0.442,0.103s0.345-0.16,0.626-0.357l0.731-0.497l2.146,1.51l-0.216,0.838
		c-0.023,0.105-0.049,0.23-0.08,0.366c-0.029,0.144-0.039,0.249-0.035,0.329s0.029,0.158,0.066,0.23
		c0.037,0.072,0.101,0.138,0.181,0.197c0.144,0.099,0.304,0.138,0.478,0.109c0.172-0.031,0.304-0.109,0.39-0.232
		c0.088-0.119,0.162-0.345,0.238-0.674l1.021-4.379c0.057-0.216,0.101-0.388,0.127-0.52c0.031-0.129,0.047-0.263,0.047-0.394
		s-0.029-0.261-0.086-0.388C33.783,84.797,33.678,84.68,33.526,84.576z M31.986,88.435l-1.575-1.111l2.313-1.627L31.986,88.435z"
        />
        <path
          class="st0"
          d="M42.059,89.1c-0.134-0.055-0.248-0.074-0.351-0.051c-0.103,0.023-0.238,0.068-0.405,0.142l-3.409,1.458
		l0.889-2.083c0.105-0.246,0.127-0.456,0.066-0.62c-0.062-0.168-0.187-0.29-0.368-0.368c-0.179-0.08-0.353-0.08-0.511-0.004
		c-0.156,0.078-0.288,0.238-0.392,0.479l-1.881,4.416c-0.08,0.193-0.138,0.337-0.172,0.44c-0.033,0.103-0.047,0.201-0.043,0.292
		c0.016,0.115,0.058,0.218,0.131,0.31c0.07,0.095,0.154,0.164,0.257,0.21c0.179,0.072,0.353,0.076,0.515,0.002
		c0.164-0.072,0.298-0.234,0.405-0.483l0.518-1.224l1.392-0.528l0.493,2.793c0.01,0.123,0.035,0.259,0.053,0.405
		c0.023,0.15,0.072,0.285,0.148,0.403c0.076,0.113,0.195,0.209,0.361,0.279c0.181,0.076,0.343,0.088,0.487,0.035
		c0.144-0.055,0.246-0.146,0.302-0.279c0.053-0.121,0.072-0.255,0.068-0.405c-0.004-0.152-0.033-0.335-0.08-0.554l-0.657-3.132
		l2.048-0.76c0.253-0.101,0.419-0.234,0.493-0.411c0.06-0.144,0.06-0.29-0.002-0.439C42.347,89.281,42.232,89.172,42.059,89.1z"
        />
        <path
          class="st0"
          d="M48.652,92.02c-0.041-0.218-0.072-0.396-0.097-0.528c-0.025-0.129-0.068-0.255-0.123-0.378
		c-0.055-0.117-0.134-0.226-0.242-0.316c-0.105-0.09-0.248-0.152-0.427-0.187c-0.179-0.029-0.331-0.025-0.466,0.019
		c-0.131,0.047-0.244,0.115-0.343,0.21c-0.09,0.094-0.183,0.224-0.283,0.374c-0.097,0.152-0.175,0.286-0.244,0.394l-2.397,3.816
		c-0.099,0.154-0.17,0.271-0.216,0.361c-0.043,0.084-0.076,0.172-0.094,0.259c-0.027,0.152,0.01,0.296,0.111,0.437
		c0.103,0.142,0.234,0.226,0.394,0.257c0.193,0.037,0.339,0.01,0.444-0.088c0.103-0.095,0.244-0.29,0.419-0.585l0.456-0.758
		l2.577,0.483l0.16,0.856c0.019,0.105,0.045,0.228,0.078,0.366s0.068,0.246,0.103,0.314c0.037,0.072,0.094,0.133,0.158,0.183
		c0.062,0.049,0.15,0.084,0.249,0.103c0.173,0.031,0.329-0.002,0.479-0.103c0.142-0.099,0.228-0.222,0.253-0.368
		c0.029-0.142,0.006-0.384-0.066-0.717L48.652,92.02z M46.068,94.405l1.433-2.44l0.464,2.793L46.068,94.405z"
        />
        <path
          class="st0"
          d="M62.11,91.328c-0.039-0.263-0.131-0.452-0.267-0.565c-0.136-0.109-0.304-0.152-0.499-0.121
		c-0.201,0.031-0.345,0.119-0.442,0.267c-0.097,0.146-0.123,0.353-0.08,0.612l0.534,3.53c0.131,0.838-0.088,1.3-0.661,1.39
		c-0.212,0.031-0.386,0.012-0.518-0.068c-0.133-0.078-0.234-0.181-0.304-0.306c-0.068-0.127-0.142-0.296-0.23-0.515
		c-0.08-0.199-0.166-0.345-0.265-0.429c-0.103-0.084-0.24-0.115-0.411-0.09c-0.179,0.027-0.316,0.101-0.411,0.226
		c-0.099,0.127-0.133,0.288-0.101,0.491c0.031,0.195,0.092,0.39,0.177,0.592c0.094,0.205,0.199,0.378,0.312,0.528
		c0.23,0.275,0.491,0.464,0.801,0.555c0.31,0.092,0.678,0.103,1.117,0.037c0.481-0.072,0.867-0.234,1.173-0.478
		c0.3-0.249,0.497-0.559,0.591-0.93c0.055-0.224,0.076-0.442,0.072-0.649c-0.006-0.207-0.033-0.454-0.074-0.743L62.11,91.328z"
        />
        <path
          class="st0"
          d="M72.153,92.877l-3.066-3.284c-0.154-0.168-0.267-0.296-0.364-0.398c-0.094-0.099-0.195-0.183-0.304-0.261
		c-0.107-0.072-0.228-0.121-0.366-0.14c-0.138-0.023-0.294,0-0.466,0.066c-0.168,0.062-0.292,0.146-0.382,0.255
		c-0.09,0.113-0.144,0.23-0.175,0.359c-0.031,0.133-0.051,0.288-0.051,0.468c-0.006,0.183-0.006,0.337-0.006,0.468l-0.039,4.504
		c-0.002,0.181-0.002,0.32,0.002,0.417c0.004,0.099,0.027,0.187,0.06,0.273c0.051,0.14,0.16,0.244,0.32,0.314
		c0.164,0.068,0.32,0.074,0.476,0.012c0.177-0.068,0.287-0.172,0.327-0.308c0.047-0.138,0.057-0.374,0.055-0.723l-0.006-0.879
		l2.45-0.939l0.581,0.647c0.072,0.078,0.154,0.17,0.253,0.269c0.101,0.103,0.193,0.172,0.261,0.212
		c0.068,0.043,0.142,0.066,0.22,0.074c0.09,0.008,0.172-0.006,0.271-0.043c0.166-0.06,0.279-0.175,0.351-0.337
		c0.07-0.16,0.088-0.31,0.029-0.452C72.533,93.318,72.385,93.125,72.153,92.877z M68.136,92.977l-0.064-2.828l1.861,2.14
		L68.136,92.977z"
        />
        <path
          class="st0"
          d="M77.24,84.991c-0.214-0.15-0.452-0.244-0.702-0.283c-0.261-0.039-0.515-0.016-0.78,0.068
		c-0.257,0.086-0.6,0.261-1.013,0.534l-1.405,0.914c-0.242,0.158-0.382,0.327-0.427,0.503c-0.049,0.175,0.014,0.382,0.173,0.624
		l2.721,4.165c0.142,0.212,0.294,0.347,0.468,0.394c0.173,0.045,0.345,0.018,0.513-0.092c0.162-0.103,0.248-0.244,0.279-0.425
		c0.031-0.183-0.029-0.382-0.172-0.6l-1.002-1.53l1.002-0.655c0.676-0.439,1.089-0.912,1.238-1.415
		c0.16-0.505,0.057-1.033-0.308-1.585C77.653,85.348,77.466,85.145,77.24,84.991z M76.685,87.449
		c-0.138,0.17-0.337,0.335-0.593,0.505l-0.737,0.481l-1.084-1.653l0.741-0.479c0.489-0.32,0.867-0.45,1.121-0.394
		c0.238,0.058,0.439,0.207,0.589,0.442c0.133,0.201,0.195,0.394,0.189,0.571C76.895,87.108,76.821,87.283,76.685,87.449z"
        />
        <path
          class="st0"
          d="M86.112,82.46l-4.134-1.762c-0.205-0.092-0.372-0.166-0.501-0.216c-0.117-0.055-0.248-0.092-0.38-0.113
		c-0.125-0.027-0.255-0.018-0.39,0.019c-0.136,0.037-0.271,0.119-0.401,0.248c-0.119,0.129-0.209,0.257-0.246,0.394
		c-0.037,0.133-0.041,0.267-0.014,0.4c0.018,0.133,0.072,0.281,0.144,0.444c0.07,0.17,0.134,0.31,0.181,0.431l1.789,4.136
		c0.068,0.164,0.131,0.29,0.172,0.378c0.043,0.088,0.101,0.16,0.166,0.222c0.105,0.111,0.246,0.16,0.419,0.158
		s0.316-0.06,0.44-0.179c0.138-0.133,0.189-0.271,0.175-0.413c-0.023-0.142-0.101-0.368-0.242-0.682l-0.37-0.803l1.861-1.852
		l0.791,0.357c0.101,0.041,0.212,0.092,0.347,0.14c0.134,0.055,0.24,0.084,0.327,0.094c0.076,0.01,0.15,0,0.226-0.025
		c0.088-0.029,0.16-0.072,0.232-0.148c0.129-0.125,0.183-0.275,0.183-0.45c0.002-0.175-0.047-0.318-0.15-0.425
		C86.634,82.707,86.428,82.592,86.112,82.46z M82.475,84.181l-1.204-2.565l2.575,1.203L82.475,84.181z"
        />
        <path
          class="st0"
          d="M91.698,75.285l-4.272-2.744c-0.209-0.131-0.403-0.191-0.561-0.162c-0.164,0.019-0.298,0.115-0.4,0.271
		c-0.099,0.154-0.129,0.31-0.074,0.468c0.043,0.158,0.175,0.3,0.384,0.435l3.233,2.076l-4.567,0.06c-0.123,0-0.253,0-0.38,0
		c-0.117,0-0.22,0.01-0.314,0.027c-0.082,0.019-0.172,0.055-0.246,0.103c-0.074,0.051-0.144,0.123-0.209,0.222
		c-0.08,0.127-0.127,0.263-0.127,0.419c0,0.154,0.051,0.288,0.127,0.407c0.074,0.107,0.205,0.212,0.38,0.329l4.196,2.686
		c0.205,0.129,0.386,0.183,0.555,0.16s0.304-0.117,0.405-0.273c0.088-0.146,0.117-0.304,0.074-0.468
		c-0.051-0.168-0.17-0.314-0.378-0.448l-3.191-2.043l4.498-0.035c0.117-0.008,0.246-0.01,0.361-0.014
		c0.127-0.01,0.238-0.027,0.343-0.06c0.105-0.025,0.201-0.072,0.277-0.133c0.088-0.058,0.158-0.142,0.224-0.242
		C92.285,75.94,92.177,75.589,91.698,75.285z"
        />
        <path
          class="st0"
          d="M55.004,5C27.429,5,5,27.425,5,55c0,27.569,22.429,50,50.004,50C82.571,105,105,82.569,105,55
		C105,27.425,82.571,5,55.004,5z M55.004,103.32C28.357,103.32,6.682,81.643,6.682,55c0-26.647,21.673-48.318,48.322-48.318
		c26.639,0,48.314,21.673,48.314,48.318C103.318,81.643,81.643,103.32,55.004,103.32z"
        />
        <path
          class="st0"
          d="M78.491,42.224c-0.029-0.207-0.148-0.39-0.304-0.522c-0.018-0.002-0.019-0.006-0.025-0.016
		c-0.029-0.019-0.043-0.039-0.074-0.057l-23.092-13.33c-0.261-0.154-0.579-0.154-0.844-0.004L31.062,41.63
		c-0.031,0.018-0.053,0.037-0.076,0.057c-0.01,0.01-0.016,0.014-0.019,0.016c-0.168,0.133-0.275,0.316-0.308,0.522
		c-0.002,0.025-0.006,0.049-0.006,0.068c-0.002,0.023-0.01,0.043-0.01,0.062v26.68c0,0.296,0.158,0.571,0.421,0.727l23.092,13.323
		c0.025,0.012,0.043,0.014,0.064,0.027c0.027,0.012,0.041,0.019,0.068,0.027c0.097,0.035,0.193,0.057,0.288,0.057
		c0.096,0,0.195-0.023,0.292-0.057c0.019-0.01,0.043-0.018,0.068-0.027c0.018-0.014,0.039-0.016,0.06-0.027L78.09,69.762
		c0.253-0.154,0.419-0.431,0.419-0.727V42.357c0-0.019-0.006-0.039-0.006-0.062C78.499,42.273,78.499,42.25,78.491,42.224z
		 M76.825,68.546L55.419,80.904v-5.683c0-0.464-0.378-0.84-0.844-0.84c-0.462,0-0.84,0.376-0.84,0.84v5.683L32.319,68.546V43.82
		l4.917,2.84c0.131,0.072,0.275,0.109,0.419,0.109c0.146,0,0.294-0.037,0.423-0.111c0.257-0.15,0.421-0.429,0.421-0.733
		c0-0.331-0.197-0.62-0.478-0.756l-4.869-2.81l21.42-12.368L75.99,42.359l-4.873,2.816c-0.283,0.138-0.472,0.421-0.472,0.758
		c0,0.298,0.162,0.575,0.419,0.727c0.133,0.074,0.275,0.109,0.417,0.109c0.146,0,0.298-0.035,0.423-0.109l4.917-2.84v24.725h0.004
		V68.546z"
        />
      </g>
    </svg>
  </div>
</div>
