<ul class="p-products">
  <li class="p-products__item p-products__item--01">
    <a href="" class="p-products__link">
      <span class="p-products__title u-font-dinnext">KASHITHU SHIKI</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_01.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--02">
    <a href="" class="p-products__link">
      <span class="p-products__title u-font-dinnext">KAPPAN CARENDER</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_02.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--03">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">TWO TRAY</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_03.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--04">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">SWING LETTER</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_04.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--05">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">FUMIBAKO</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_05.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--06">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">TUBE STAND</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_06.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--07">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">INDEX ENVELOPE</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_07.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--08">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">CARD HOLDER</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_08.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--09">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">PULL BOX</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_09.jpg" alt="" />
    </a>
  </li>
  <li class="p-products__item p-products__item--10">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">POCHI-PON</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_10.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--11">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">PULL SHELF</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_11.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--12">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">PAPER ROCKETS</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_12.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--13">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">PAD NOTE</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_13.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--14">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">EMBOSS POCHI</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_14.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--15">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">PICTURE BAR</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_15.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--16">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">BOOK PACK</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_16.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--17">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">EMBOSS ENVELOPE</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_17.jpg" alt=""
    /></a>
  </li>
  <li class="p-products__item p-products__item--18">
    <a href="" class="p-products__link"
      ><span class="p-products__title u-font-dinnext">MEMO MAGNET</span>
      <div class="p-products__cover">
        <p class="p-products__text">紙製加湿器。テキストテキストテキスト</p>
        <div class="c-btn-products">Products detail pageへ</div>
      </div>
      <img src="../image/img_product_18.jpg" alt=""
    /></a>
  </li>
</ul>
