.p-footer-copies {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include mqMd {
    font-size: 1rem;
  }

  &__copy {
    @include mqMd {
      display: none;
    }
  }
}
