.p-gnav {
  display: flex;
  font-size: 1.7rem;
  font-weight: 700;

  &__item {
    & ~ & {
      margin-left: 35px;
    }

    &--sns {
      margin-left: 50px !important;

      & ~ & {
        margin-left: 30px !important;
      }
    }
  }
}
