.p-toggle {
  display: none;

  @include mqMd {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 12px;
    right: 18px;
    z-index: 31;
    background: url(../image/img_nav_open.png) no-repeat;

    &.is-active {
      background: url(../image/img_nav_close.png) no-repeat;
    }
  }
}
