@charset "utf-8";

.u-right {
  text-align: right;
}

.u-center {
  text-align: center;
}

.u-center {
  text-align: center;
}

.u-left-sm {
  @include mqMd {
    text-align: left;
  }
}

.u-vam {
  vertical-align: middle;
}
