@charset "utf-8";
.u-brSp {
  display: none;
  @include mqMd {
    display: block;
  }
}

.u-brPc {
  @include mqMd {
    display: none;
  }
}

.u-noneSp {
  @include mqMd {
    display: none;
  }
}

.u-nonePc {
  display: none !important;
  @include mqMd {
    display: block !important;
  }
}

.u-noneMd {
  @include mqMd {
    display: none;
  }
}

.u-nonePcMd {
  display: none !important;
  @include mqMd {
    display: block !important;
  }
}
