.l-footer {
  border-top: 2px solid $color-primary;
  background-color: $color-bg-white;

  &__copies {
    border-top: 2px solid $color-primary;
    padding: 20px 0;

    @include mqMd {
      padding: 15px 0;
    }
  }
}
